@font-face {
    font-family: 'maven-pro';
    src: URL("./MavenPro-Regular.ttf") format('truetype');
}

/* header area */

.header {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 89px;
    width: 1500px
}

.get_free_quote {
    background-color: rgb(0, 186, 233);
    position: absolute;
    top: -761px;
    left: 733px;
    height: 800px;
    width: 438px;
    border-radius: 15%;
}

.phone_number{
    position: absolute;
    bottom:15px;
    left: 70px;
    height: 14px;
    width: 128px;
    color: rgb(115, 115, 115);
    font-family: 'maven-pro';
    font-size: 14px;
    font-weight: bold;
}

.phone_image{
    position: absolute;
    bottom: 12px;
    left: 46px;
    height: 17px;
    width: 17px;
    background-image: url("./phone_image_1.jpg");
}

.get_text{
    position: absolute;
    bottom:15px;
    right: 60px;
    height: 14px;
    width: 150px;
    color: white;
    font-family: 'maven-pro';
    font-size: 14px;
    font-weight: bold;
}

.security {
    background-image: url("./security.jpg");
    position: absolute;
    top: 23px;
    left: 288px;
    height: 47px;
    width: 272px
}

.BBB {
    background-image: url("./BBB.jpg");
    position: absolute;
    top: 4px;
    right: 273px;
    height: 75px;
    width: 46px
}

.options {
    position: absolute;
    top: 62px;
    left: 680px;
    height: 11px;
    width: 491px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options_text{
    font-family: 'maven-pro';
    font-size: 12px;
    color: rgb(132, 132, 132);
    font-weight: bold;
}
.home_text{
    position: absolute;
    top: 62px;
    left: 608px;
    height: 11px;
    width: 44px;
    font-family: 'maven-pro';
    font-size: 12px;
    color: rgb(37, 191, 236);
    font-weight: bold;
}


/* houses area */
.bg_house {
    background-image: url("./bg_house.jpg");
    position: absolute;
    top: 89px;
    left: 0px;
    height: 640px;
    width: 1500px
}

.quote {
    background-color: rgba(37, 191, 236, 0.7);
    position: absolute;
    top: 209px;
    left: 286px;
    height: 312px;
    width: 522px;
    border-radius: 58px 0px 58px 0px;
}

.neighbors {
    position: absolute;
    color: white;
    font-family: maven-pro;
    font-weight: bold;
    top: 34px;
    left: 37px;
    width: 325px;
    font-size: 30px;
}

.quote_text {
    position: absolute;
    color: white;
    top: 130px;
    left: 38px;
    width: 453px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
}

.mini_quote {
    position: absolute;
    background-color: rgb(37, 191, 236);
    top: 230px;
    left: 39px;
    width: 212px;
    height: 52px;
    border-radius: 24px 0px 24px 0px;
}

.mini_quote_text {
    position: absolute;
    color: white;
    font-family: maven-pro;
    font-weight: bold;
    top: 16px;
    left: 27px;
    width: 166px;
    font-size: 16px;
    text-align: center;
    vertical-align: text-top;
}


/* grey area */
.grey_panel {
    position: absolute;
    top: 729px;
    left: 0px;
    background-color: rgb(146, 146, 146);
    height: 445px;
    width: 1500px;
}

.settings_circle {
    position: absolute;
    top: -50px;
    left: 374px;
    background-color: rgb(64, 64, 64);
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.phone_circle {
    position: absolute;
    top: -50px;
    left: 722px;
    background-color: rgb(64, 64, 64);
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.paper_circle {
    position: absolute;
    top: -50px;
    left: 1059px;
    background-color: rgb(64, 64, 64);
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.mini_settings {
    position: absolute;
    top: 23px;
    left: 23px;
    background-image: url("./mini_settings.jpg");
    height: 44px;
    width: 44px;
}

.mini_phone {
    position: absolute;
    top: 23px;
    left: 30px;
    background-image: url("./mini_phone.jpg");
    height: 45px;
    width: 31px;
}

.mini_paper {
    position: absolute;
    top: 25px;
    left: 25px;
    background-image: url("./mini_paper.jpg");
    height: 40px;
    width: 40px;
}

.blue_titles {
    position: absolute;
    color: white;
    top: 57px;
    left: 0px;
    width: 1500px;
    height: 32px;
    font-size: 20px;
}

.equipment {
    position: absolute;
    color: rgb(37, 191, 236);
    top: 0px;
    left: 315px;
    width: 212px;
    height: 32px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: bold;
}

.system {
    position: absolute;
    color: rgb(37, 191, 236);
    top: 0px;
    left: 628px;
    width: 267px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    font-family: maven-pro;
    font-weight: bold;
}

.save {
    position: absolute;
    color: rgb(37, 191, 236);
    top: 0px;
    left: 996px;
    width: 218px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    font-family: maven-pro;
    font-weight: bold;
}

.equipment_text {
    position: absolute;
    color: rgb(132, 132, 132);
    top: 53px;
    left: 287px;
    width: 268px;
    height: 32px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
    text-align: center;
}

.system_text {
    position: absolute;
    color: rgb(132, 132, 132);
    top: 53px;
    left: 629px;
    width: 268px;
    height: 32px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
    text-align: center;
}

.save_text {
    position: absolute;
    color: rgb(132, 132, 132);
    top: 53px;
    left: 967px;
    width: 268px;
    height: 32px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
    text-align: center;
}

.read_more1,
.read_more2,
.read_more3 {
    position: absolute;
    background-color: rgb(37, 191, 236);
    color: white;
    top: 166px;
    left: 349px;
    width: 133px;
    height: 32px;
    font-size: 10px;
    font-family: maven-pro;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 32px 0px 32px 0px;
}

.read_more2 {
    left: 696px;
}

.read_more3 {
    left: 1035px;
}

.read_more_text {
    position: absolute;
    color: white;
    top: 9px;
    left: 20px;
    width: 90px;
    height: 18px;
    font-size: 12px;
    font-family: maven-pro;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.about_title {
    display: flex;
    position: absolute;
    color: rgb(132, 132, 132);
    top: 227px;
    left: 286px;
    width: 940px;
    height: 32px;
    font-size: 20px;
    font-family: maven-pro;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.hr {
    border-top: solid white 1px;
    border-left: solid white 0px;
    border-right: solid white 0px;
    border-bottom: solid white 0px;
}

.about_text1,
.about_text2 {
    position: absolute;
    color: rgb(132, 132, 132);
    top: 264px;
    left: 286px;
    width: 940px;
    height: 180px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

.about_text2 {
    top: 370px;
}

/* white area */
.white_area {
    position: absolute;
    top: 1174px;
    left: 0px;
    /* background-color: red; */
    height: 493px;
    width: 1500px;
}

.blue_label {
    position: absolute;
    color: white;
    background-color: rgb(37, 191, 236);
    top: 0px;
    left: 0px;
    width: 550px;
    height: 58px;
    border-radius: 0px 0px 58px 0px;
}

.label_text {
    position: absolute;
    color: white;
    top: 14px;
    left: 290px;
    width: 280px;
    height: 20px;
    font-size: 24px;
    font-family: maven-pro;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.testimonial1,
.testimonial2 {
    position: absolute;
    background-color: rgb(247, 247, 247);
    top: 77px;
    left: 283px;
    width: 460px;
    height: 104px;
}

.testimonial2 {
    top: 255px;
}

.test1_text {
    position: absolute;
    color: rgb(132, 132, 132);
    top: 35px;
    left: 30px;
    width: 400px;
    height: 20px;
    font-size: 16px;
    font-family: maven-pro;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
}

.quote_reversed {
    position: absolute;
    background-image: url("./quote_reversed.jpg");
    top: 9px;
    left: 9px;
    width: 19px;
    height: 15px;
}

.quote_simple {
    position: absolute;
    background-image: url("./quote.jpg");
    top: 75px;
    left: 432px;
    width: 19px;
    height: 15px;
}

.video {
    position: absolute;
    /* background-color: rgb(209, 64, 64); */
    background-image: url("./video.jpg");
    top: 15px;
    left: 765px;
    width: 460px;
    height: 305px;
}

.video_settings {
    position: absolute;
    top: 278px;
    left: 0px;
    width: 460px;
    height: 29px;
    background-image: url("./video_settings.jpg");
}

.watch {
    position: absolute;
    top: 343px;
    left: 766px;
    width: 460px;
    height: 13px;
    font-weight: bold;
    font-size: 13px;
    font-family: maven-pro;
    color: rgb(132, 132, 132);
}

.watch_text {
    position: absolute;
    top: 370px;
    left: 766px;
    width: 460px;
    height: 86px;
    font-weight: 300;
    font-size: 11px;
    font-family: maven-pro;
    color: rgb(132, 132, 132);
}

.alice {
    position: absolute;
    top: 180px;
    left: 246px;
    width: 500px;
    height: 57px;
}

.alice_photo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 91px;
    height: 57px;
    background-image: url("./alice.jpg");
}

.alice_text {
    position: absolute;
    top: 28px;
    left: 92px;
    width: 162px;
    height: 19px;
    font-weight: bold;
    font-size: 13px;
    font-family: maven-pro;
    color: rgb(132, 132, 132);
}

.alice_full_stars {
    position: absolute;
    top: 23px;
    right: 47px;
    width: 63px;
    height: 17px;
    background-image: url("./full_star.jpg");
}

.alice_empty_stars {
    position: absolute;
    top: 23px;
    right: 5px;
    width: 42px;
    height: 17px;
    background-image: url("./empty_star.jpg");
}

.john {
    position: absolute;
    top: 370px;
    left: 272px;
    width: 475px;
    height: 45px;
}

.john_photo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56px;
    height: 45px;
    background-image: url("./john.jpg");
}

.john_text {
    position: absolute;
    top: 17px;
    left: 65px;
    width: 162px;
    height: 13px;
    font-weight: bold;
    font-size: 13px;
    font-family: maven-pro;
    color: rgb(132, 132, 132);
}

.john_full_stars {
    position: absolute;
    top: 23px;
    right: 26px;
    width: 84px;
    height: 17px;
    background-image: url("./full_star.jpg");
}

.john_empty_stars {
    position: absolute;
    top: 23px;
    right: 5px;
    width: 21px;
    height: 17px;
    background-image: url("./empty_star.jpg");
}

.view-all {
    position: absolute;
    top: 420px;
    left: 282px;
    width: 462px;
    height: 40px;
}

.view-all_text {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 62px;
    height: 9px;
    font-weight: bold;
    font-size: 9px;
    font-family: maven-pro;
    color: rgb(37, 191, 236);
}

.view_button {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    font-family: maven-pro;
    color: white;
    background-color: rgb(37, 191, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}