
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80vw;
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    /* border: solid black 1px; */
}

.square {
    width: 104px;
    height: 104px;
    border: solid black 2px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid black 2px;
    cursor: move;
}

.circle.dragging {
    opacity: 0.1;
}